<!DOCTYPE html>
<html>

   <head>
      <title>This is the title of the page</title>
      <style>
         body{
            background-color: peru; color: whitesmoke;
            font-size: 24px; padding: 8px;
         }
      </style>
   </head>
   <body>
      <h1>Main heading</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

      <h2>Sub-heading</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus odio magnam eligendi.</p>

      <button style='background-color:blue' onclick='countClicks()' >Click me!
      </button>
      <br><br>
      <input></input>
      <br><br>
      <select></select>
      <h3>Happy learning</h3>
   </body>
   <script>
    var counter = 0;
    var countClicks=
        () => alert(`Hello html world! Clicked ${++counter} times.`);
   </script>
</html>